{{define "footer"}}
<!-- 通用JS -->
<div>
    <script src="{{.}}/resource/js/jquery.min.js"></script>
    <script src="{{.}}/resource/js/bootstrap.min.js"></script>
    <!-- bootstrap-table 表格插件 -->
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js"></script>
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/extensions/columns/bootstrap-table-fixed-columns.js"></script>
    <!-- jquery-validate 表单验证插件 -->
    <script src="{{.}}/resource/ajax/libs/validate/jquery.validate.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/validate/messages_zh.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/validate/jquery.validate.extend.js"></script>
    <!-- jquery-validate 表单树插件 -->
    <script src="{{.}}/resource/ajax/libs/bootstrap-treetable/bootstrap-treetable.js"></script>
    <!-- jquery-export 表格导出插件 -->
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
    <script src="{{.}}/resource/ajax/libs/bootstrap-table/extensions/export/tableExport.js"></script>
    <!-- 遮罩层 -->
    <script src="{{.}}/resource/ajax/libs/blockUI/jquery.blockUI.js"></script>
    <script src="{{.}}/resource/ajax/libs/iCheck/icheck.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/layer/layer.min.js"></script>
    <script src="{{.}}/resource/ajax/libs/layui/layui.js"></script>
    <script src="{{.}}/resource/yunfan/js/common.js?v=4.1.0"></script>
    <script src="{{.}}/resource/yunfan/js/yf-ui.js?v=4.1.0"></script>
    <script type="application/javascript"> var ctx = "\/"; </script>
</div>
{{end}}